# Jekyll
_site/
.jekyll-cache
.jekyll-metadata
.sass-cache

node_modules
npm-debug.log
.DS_Store
*/.DS_Store
*/*/.DS_Store
*.sh
.vscode

# Ruby
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
*.gem
Gemfile.lock